<configuration>

    <appender name="GELF" class="de.siegmar.logbackgelf.GelfUdpAppender">
        <graylogHost>10.13.10.24</graylogHost>
        <graylogPort>12498</graylogPort>
    </appender>

    <root level="debug">
        <appender-ref ref="GELF" />
        <appender-ref ref="STDOUT" />
    </root>

</configuration>